@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;

}

body {
    max-width: 1440px;
    background: #E5E5E5;
    display: flex;
    flex-direction: row;
    margin-right: 2px;
}

.container {

    width: 970px;
    margin: 0 auto;
}

.header {
    background: url('../img/header_bg.png');
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header__content h1 {
    font-size: 48px;
    font-weight: 700;
    margin-left: 60px;
    margin-top: 93px;
}

.header__content p {
    margin-left: 60px;
    color: #767676;
    margin-top: 18px;
    font-size: 16px;
    line-height: 24px;
}

.button {
    margin-top: 25px;
    margin-left: 60px;
    height: 51px;
    width: 154px;
    background: #FFB400;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button a {
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
}

.yellow__text {
    font-size: 48px;
    color: #FFB400;
}


.left__menu {
    text-align: center;
    margin: 0 auto;
    background: white;
    height: 1315px;

}

.profile {
    margin-top: 30px;
}

.profile h4 {
    margin-top: 31px;
    font-size: 18px;
    font-weight: 500;
    line-height: 123.6%;
}

.profile p {
    color: #767676;
    font-size: 15px;
    line-height: 24px;
    margin-top: 15px;
    text-transform: capitalize;
    font-feature-settings: 'calt'off, 'kern'off;
}

.social__icons {
    padding: 0 20px;
    margin-top: 15px;
}

.social__icons img {
    width: 24px;
    height: 24px;
    margin-left: 15px;
}

.left__menu hr {
    margin: 0 42px;
    margin-top: 25px;
    border: 1.5px solid #F0F0F6;
}

.profile__about{
    font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
    display: flex;
    margin: 25px 45px;

}
.about__title{
    text-align: left;
}
.about__title p{
    background: #FFB400;
    margin-top: 10px;
}
.about__sub{
    text-align: right;
}
.about__sub p{
    margin-top: 10px;
}
.available{
    color:green
}
.languages{
    text-align: left;
    margin: 25px 45px;
}
.languages h4{
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 123.6%;
}
.language{
    margin-top: 15px;
}
.language hr{
    width: 208px;
    height: 2px;
    background: #FFB400;
border-radius: 30px;
margin: 10px 0;
}
.language__name{
    display: flex;
    justify-content: space-between;
}
.language__name p{
    font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
color: #767676;

}
.right__nav {
    margin-left: 27px;
    background: white;
    text-align: center;
    width: 108px;
    height: 1315px;
    display: flex;
    flex-direction: column;
}

.right__nav a {
    background: #F0F0F6;
    border-radius: 50%;
    width: 39.63px;
    height: 40px;
    margin-left: 33.68px;
    margin-top: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right__nav a:hover {
    transition: 10ms;
    width: 39.63px;
    height: 40px;
    border-radius: 50%;
    background: #FFB400;
}

.dark__mode {
    cursor: pointer;
    border: none;
    background: white;
}

.services {
    margin: 0 auto;
    padding: 138px 70px;
}

.services__text {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services__text h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 123.6%;
    color: #2B2B2B;
}

.services__text p {
    text-align: center;
    padding: 25px 50px;
    width: 438px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #767676;
}

.services__card {
    width: 310px;
    height: 225px;
    background: white;
    display: flex;
    flex-direction: column;
    margin-right: 20px;


}

.services__card img {
    width: 68px;
    height: 68px;
    margin-left: 121px;
    margin-top: 28px;
}

.cards {
    display: flex;
    flex-direction: column;
}

.cards__first_row {
    display: flex;
}

.cards__second_row {
    display: flex;
    margin-top: 20px;
}

.services__card h4 {
    margin-top: 26px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    color: #2B2B2B;
}

.services__card p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #767676;
    margin-top: 15px;
}

.services__card__advertising {
    width: 310px;
    height: 225px;
    background: white;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
}

.services__card__advertising h4 {
    margin-top: 31px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    color: #2B2B2B;
}

.services__card__advertising p {
    width: 260px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #767676;
    text-align: center;
    padding: 25px 0;
}

.services__card__advertising a {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #FFB400;
}

.plans {
    padding: 70px 0;
}

.plans__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.plans__content h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 123.6%;
    color: #2B2B2B;
}

.plans__content p {
    margin-top: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #767676;
    width: 438px;
    text-align: center;
}

.plans__cards {
    margin-top: 50px;
    display: flex;

}

.plan_card {
    margin-right: 21px;
    width: 310px;
    height: 610px;
    background: white;
    text-align: center;
}

.plan_card h3 {
    margin-top: 54px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 123.6%;
}

.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 19px;
}

.subtitle h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 123.6%;
    margin-right: 10px;
}

.subtitle h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
}

.plan_card p {
    margin-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #767676;
    width: 248px;
    margin-left: 31px;
}

.plan_card ul {
    list-style-type: none;
}

.plan_card li {
    margin-left: 33px;
}

.checkbox__active {
    list-style: none;
    background: url('../img/Check.svg') no-repeat 0 50%;
    padding-left: 15px;
}

.recommendations {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recommendations h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 123.6%;
}

.recommendations p {
    margin-top: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #767676;
    width: 438px;
    text-align: center;
}

.rec__cards {
    display: flex;
    justify-content: space-around;
}

.rec_card {
    margin-right: 27px;
    width: 310px;
    height: 323px;
    background: white;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 25px;
}

.rec_card img {
    margin-top: 25px;
}

.rec_card h4 {
    margin-top: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
}

.rec_card p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #767676;
    margin-top: 18px;
    width: 262px;
    text-align: left;
}

.review__author {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

.review__info {
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    justify-content: flex-start;
}

.review__info h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
}

.review__info p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #767676;
}

.education {
    padding: 70px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.education h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 123.6%;
}

.education p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    width: 438px;
    margin-top: 25px;
    color: #767676;
}

.education__info {
    width: 970px;
    height: 632px;
    background: white;
    margin-top: 50px;

}

.educ__info_card {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 47px;
}

.ed__info__title span {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    padding-top: 25px;
}

.portfolio {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 123.6%;
}

.portfolio p {
    width: 438px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #767676;
    margin-top: 25px;
}

.portfolio__menu {
    padding: 50px 0;
}

.portfolio__menu ul {
    display: flex;
    list-style-type: none;
}

.portfolio__menu a {
    margin-right: 37px;
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
}

.portfolio__menu a:hover {
    color: #FFB400;
    transition: 0.5s;
}

.portfolio_cards {
    width: 970px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.portfolio__card__first_row {
    display: flex;
}

.portfolio__card__second_row {
    display: flex;
    padding: 20px 0;
}

.portfolio__card__third_row {
    display: flex;
}

.portfolio__card {
    width: 310px;
    height: 300px;
    margin-right: 20px;

}

.portfolio__card a:hover {
    transition: 1s;
    background: url('../img/portfolio_active.svg')
}

.blog {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.blog h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 123.6%;
}

.blog p {
    width: 438px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #767676;

}

.blog__cards {
    display: flex;
    width: 970px;
    justify-content: space-between;
}

.blog__card {
    margin-right: 20px;
    width: 310px;
    height: 474px;
    background: white;
    margin-top: 50px;
}

.blog__card h4 {
    margin-top: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    margin-left: 24px;
}

.blog__card p {
    padding: 8px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #767676;
    width: 268px;
    text-align: left;
    margin-left: 24px;
}

.blog__card a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    color: black;
    margin-left: 24px;
}

.blog__card a:hover {
    color: #FFB400;
    transition: 0.5s;
}

footer {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__forms {
    display: flex;
    flex-direction: row;
}

.leave__us {
    width: 570px;
}

.message__form {
    margin-right: 30px;
    margin-top: 50px;
    background: white;
    height: 665px;
}

.contact_info {
    display: flex;
    flex-direction: column;
}

.info__card {
    width: 370px;
    height: 210px;
    margin-top: 42px;
    background: white;
}

.info__cards {
    margin:50px 0;
}

.info__card img {
    margin-left: 165px;
    width: 40px;
    height: 40px;
    margin-top: 25px;
}

.info__text {
    display: flex;
    justify-content: space-around;
    margin-left: 25px;
}

.info__title h4 {
    margin-top: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    color: #767676;
}

.info__subtitle p {
    margin-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
    color: #767676;

}

.map{
    padding: 70px 0;
    
}
.footer__logos{
    padding: 70px 0;
    display: flex;
    width: 970px;
}
.footer__logos img{
    margin-right: 144px;
}
.all__rights{
    width: 970px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:center;
    background:white;
}
.all__rights p{
    font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
}
.message__form{
    display: flex;
    flex-direction: column;
    padding: 25px 0;
}
.form__text{
    margin-left: 25px;
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 123.6%;
color: #767676;
margin-top: 25px;

}
.input__text{
height: 50px;
margin: 0 25px;
margin-top: 8px;
background: #F0F0F6;
}
.message{
    margin: 0 25px;
    margin-top: 8px;
    height: 210px;  
    background:#F0F0F6  
}
.message__form a{
    margin-top: 25px;
    margin-left: 25px;
    font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
display: flex;
align-items:center;
justify-content: center;
background:#FFB400;
text-transform: uppercase;
color: #2B2B2B;
width: 159px;
height: 35px;
}
.message__form a:hover{
    background-color: white;
    border: none;
    transition: 0.5s;
}